<h2>Por región</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- (onValue) es un evento personalizado que llama a la funcion searchByCountry$event) paso info del hijo al padre (output) -->
        <shared-search-box placeholder="Buscar por región" (onValue)="searchByRegion($event)"></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>

<!-- {{ countries | json }} -->
